# Ignore large generated folders
librelane/runs/
gf180mcu/
final/
backups/
reports/agy_logs/
cocotb/sim_build/

# Ignore state-saving and report md files
timing_closure_status_report.md

# Ignore temporary files
*.tar.gz
*.tar.zst
*.log
result
.direnv/
.devenv/
